{% extends 'base.html' %}
{% load static %}
{% block title %}{{ book.book_name }}{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">{{ book.kind_name }}</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="book_detail_con clearfix">
        <div class="book_detail_pic fl"><img src="{% static book.picture %}" width="250" height="350"></div>

        <div class="book_detail_list fr">
            <h3 style="margin-bottom:20px"><em>{{ book.name }}</em></h3>
            <h4 style="font-size:12px;line-height:25px">作 者：{{ book.author }}</h4>
            <h4 style="font-size:12px;line-height:25px">ISBN：{{ book.isbn }}</h4>
            <h4 style="font-size:12px;line-height:25px">出 版 社：{{ book.press }}</h4>
            <h4 style="font-size:12px;line-height:25px">原 价：{{ book.price_old }} 售 价：{{ book.price }}</h4>

            <div class="book_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：¥<em>{{ book.price }}</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ book.description }}</dd>
                </dl>
            </div>
    </div>


{% endblock body %}
