{% extends 'base.html' %}
{% load static %}
{% block title %}搜索{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}


    <div class='book_kind_con'>
        <div class='con'>
            {% if books is not none %}
                {% for book in books %}
                    <div>
                    <a href="../detail/{{ book.id }}">
                    <img src="{% static book.picture %}" height="140" width="100">
                    </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock body %}