{% extends 'base.html' %}
{% load static %}
{% block title %}珞珈线上书店-首页{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

    <div class="center_con clearfix">
        <ul class="subnav fl">
            <li><a href="#model01" class="python">经济</a></li>
            <li><a href="#model02" class="javascript">科幻</a></li>
            <li><a href="#model03" class="algorithms">科技</a></li>
            <li><a href="#model04" class="machinelearning">生活</a></li>
            <li><a href="#model05" class="operatingsystem">文学</a></li>
            <li><a href="#model06" class="operatingsystem">推荐</a></li>
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="{% static 'images/slide0.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide1.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide2.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide3.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="{% static 'images/slide1.jpg' %}" style="width: 240px; height: 135px;"></a>
            <a href="#"><img src="{% static 'images/slide2.jpg' %}" style="width: 240px; height: 135px;"></a>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">经济</h3>
            <div class="subtitle fl">
                <span>|</span>

            </div>
            <a href="book/kind/1" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <a href="book/detail/43/"><img src="static/bookimages/43.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/47/"><img src="static/bookimages/47.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/52/"><img src="static/bookimages/52.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/55/"><img src="static/bookimages/55.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/60/"><img src="static/bookimages/60.jpg" height="224" width="160"></a>
                </div>

            </div>
        </div>
    </div>






    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model02">科幻</h3>
            <div class="subtitle fl">
                <span>|</span>
            </div>
            <a href="book/kind/2" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <a href="book/detail/81/"><img src="static/bookimages/81.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/82/"><img src="static/bookimages/82.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/86/"><img src="static/bookimages/86.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/90/"><img src="static/bookimages/90.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/94/"><img src="static/bookimages/94.jpg" height="224" width="160"></a>
                </div>

            </div>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model03">科技</h3>
            <div class="subtitle fl">
                <span>|</span>
            </div>
            <a href="book/kind/3" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <a href="book/detail/61/"><img src="static/bookimages/61.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/64/"><img src="static/bookimages/64.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/65/"><img src="static/bookimages/65.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/70/"><img src="static/bookimages/70.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/75/"><img src="static/bookimages/75.jpg" height="224" width="160"></a>
                </div>

            </div>
        </div>

    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model04">生活</h3>
            <div class="subtitle fl">
                <span>|</span>
            </div>
            <a href="book/kind/4" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <a href="book/detail/23/"><img src="static/bookimages/23.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/27/"><img src="static/bookimages/27.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/28/"><img src="static/bookimages/28.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/34/"><img src="static/bookimages/34.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/38/"><img src="static/bookimages/38.jpg" height="224" width="160"></a>
                </div>

            </div>
        </div>

    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model05">文学</h3>
            <div class="subtitle fl">
                <span>|</span>
            </div>
            <a href="book/kind/5" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <a href="book/detail/1/"><img src="static/bookimages/1.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/2/"><img src="static/bookimages/2.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/3/"><img src="static/bookimages/3.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/8/"><img src="static/bookimages/8.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/13/"><img src="static/bookimages/13.jpg" height="224" width="160"></a>
                </div>

            </div>
        </div>

    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model06">推荐</h3>
            <div class="subtitle fl">
                <span>|</span>
            </div>
        </div>


        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <a href="book/detail/17/"><img src="static/bookimages/17.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/33/"><img src="static/bookimages/33.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/54/"><img src="static/bookimages/54.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/80/"><img src="static/bookimages/80.jpg" height="224" width="160"></a>
                </div>
                <div>
                    <a href="book/detail/92/"><img src="static/bookimages/92.jpg" height="224" width="160"></a>
                </div>

            </div>
        </div>

    </div>

{% endblock body %}
