{% extends 'base.html' %}
{% load static %}
{% block title %}珞珈线上书店-首页{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

    <div class="center_con clearfix">
        <ul class="subnav fl">
            <li><a href="#model01" class="python">经济</a></li>
            <li><a href="#model02" class="javascript">科幻</a></li>
            <li><a href="#model03" class="algorithms">科技</a></li>
            <li><a href="#model04" class="machinelearning">生活</a></li>
            <li><a href="#model05" class="operatingsystem">文学</a></li>
            <li><a href="#model06" class="operatingsystem">推荐</a></li>
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><img src="{% static 'images/slide0.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide1.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide2.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
                <li><img src="{% static 'images/slide3.jpg' %}" alt="幻灯片" style="width: 760px; height: 270px;"></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href="#"><img src="{% static 'images/slide1.jpg' %}" style="width: 240px; height: 135px;"></a>
            <a href="#"><img src="{% static 'images/slide2.jpg' %}" style="width: 240px; height: 135px;"></a>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">经济</h3>
            <div class="subtitle fl">
                <span>|</span>

            </div>
            <a href="book/kind/1" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s1429010.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s1429010.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s1429010.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s1429010.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s1429010.jpg" height="224" width="160">
                </div>

            </div>
        </div>
    </div>






    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model02">科幻</h3>
            <div class="subtitle fl">
                <span>|</span>
                {% for book in javascript_new %}
                    <a href="#">{{ book.name }}</a>
                {% endfor %}
            </div>
            <a href="book/kind/2" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s2768378.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s2768378.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s2768378.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s2768378.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s2768378.jpg" height="224" width="160">
                </div>

            </div>
        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model03">科技</h3>
            <div class="subtitle fl">
                <span>|</span>
                {% for book in algorithms_new %}
                    <a href="#">{{ book.name }}</a>
                {% endfor %}
            </div>
            <a href="book/kind/3" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s28341439.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s28341439.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s28341439.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s28341439.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s28341439.jpg" height="224" width="160">
                </div>

            </div>
        </div>

    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model04">生活</h3>
            <div class="subtitle fl">
                <span>|</span>
                {% for book in machinelearning_new %}
                    <a href="#">{{ book.name }}</a>
                {% endfor %}
            </div>
            <a href="book/kind/4" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s3563113.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s3563113.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s3563113.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s3563113.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img3.doubanio.com/view/subject/s/public/s3563113.jpg" height="224" width="160">
                </div>

            </div>
        </div>

    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model05">文学</h3>
            <div class="subtitle fl">
                <span>|</span>
                {% for book in operatingsystem_new %}
                    <a href="#">{{ book.name }}</a>
                {% endfor %}
            </div>
            <a href="book/kind/5" class="book_more fr">查看更多 ></a>
        </div>

        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <img src="https://img9.doubanio.com/view/subject/s/public/s6384944.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img9.doubanio.com/view/subject/s/public/s6384944.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img9.doubanio.com/view/subject/s/public/s6384944.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img9.doubanio.com/view/subject/s/public/s6384944.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img9.doubanio.com/view/subject/s/public/s6384944.jpg" height="224" width="160">
                </div>

            </div>
        </div>

    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model06">推荐</h3>
            <div class="subtitle fl">
                <span>|</span>
                {% for book in database_new %}
                    <a href="#">{{ book.name }}</a>
                {% endfor %}
            </div>
        </div>


        <div class="book_con clearfix">
            <div class='con_index'>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s3668327.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s3668327.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s3668327.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s3668327.jpg" height="224" width="160">
                </div>
                <div>
                    <img src="https://img1.doubanio.com/view/subject/s/public/s3668327.jpg" height="224" width="160">
                </div>

            </div>
        </div>

    </div>

{% endblock body %}
