<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>书籍管理</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
        function getCookie(cname)
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) return c.substring(name.length,c.length);
            }
            return "";
        }

        $(document).ready(function(){
            var msg = getCookie('bookDelete');
            var bookid = getCookie('bookid');
            if(msg == 1){
                alert("删除成功，bookid:"+bookid);
            }else if(msg == 0){
                alert("删除失败，bookid:"+bookid);
            }
            document.cookie = "bookDelete=-1;path=/";
        });
    </script>
</head>
<body>
    <a href="/user/super/">返回</a>
    <div>
        <div>
            <a href="/user/super/book/bookadd/">添加书籍</a>
        </div>

        <div>
            {% for book in books %}
                <div>
                    {{book.book_name}}<br>
                    <a href="/user/super/book/change/{{ book.book_id }}/">修改</a>
                    <a href="/user/super/book/delete/{{ book.book_id }}/">删除</a>
                </div>
            {% endfor %}
        </div>

        <div>
            {% for page in books.paginator.page_range %}
                {% if books.number == page %}
                    <div>
                        {{ page }}
                    </div>
                {% else %}
                    <div>
                        <a href="/user/super/book/{{ page }}/">{{ page }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>