<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>修改书籍</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
        function getCookie(cname)
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) return c.substring(name.length,c.length);
            }
            return "";
        }

        $(document).ready(function(){
            var msg = getCookie('bookChange');
            if(msg == 1){
                alert("修改成功");
            }else if(msg == 0){
                alert("修改失败");
            }
            document.cookie = "bookChange=-1;path=/";
        });
    </script>
    <style>
    .reg_form{width:360px;margin:30px 0 0 30px;float:left;position:relative;}
    .reg_form li{height:50px;list-style: none;}
    .reg_form li label{width:70px;height:30px;line-height:30px;float:left;font-size:14px;color:#a8a8a8}
    .reg_form li input{width:240px;height:30px;border:1px solid #e0e0e0;float:left;outline:none;text-indent:10px;background-color:#f8f8f8}
    .reg_form li.reg_sub input{width:320px;height:40px;background-color:#4277ad;font-size:18px;color:#fff;font-family:'Microsoft Yahei';cursor:pointer;}
    </style>
</head>
<body>
    <a href="/user/super/book/1/"><img src="{% static 'images/return.png' %}" style="width: 20px; height: 20px;"></a>
    <h1><center>修改 《{{ book.book_name }}》的信息 </center></h1>

    <div style="margin-left:500px">
            <div class="reg_form clearfix">
                <form action="/user/super/book/update/{{ book.book_id }}/" method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        <label>书名:</label>
                        <input type="text" name="name" value="{{ book.book_name }}"/>
                    </li>
                    <li>
                        <label>图片:</label>
                        <input type="text" name="pictrue" value="{{ book.book_picture }}"/>
                    </li>
                    <li>
                        <label>售价:</label>
                        <input type="number" name="price" value="{{ book.price }}"/>
                    </li>
                    <li>
                        <label>原价:</label>
                        <input type="number" name="price_old" value="{{ book.price_old }}"/>
                    </li>
                    <li>
                        <label>作者:</label>
                        <input type="text" name="author" value="{{ book.author }}"/>
                    </li>
                    <li>
                        <label> isbn:</label>
                        <input type="text" name="isbn" value="{{ book.isbn }}"/>
                    </li>
                    <li>
                        <label>出版社:</label>
                        <input type="text" name="press" value="{{ book.press }}"/>
                    </li>
                    <li>
                        <label> 库存:</label>
                        <input type="number" name="rest" value="{{ book.rest }}"/>
                    </li>
                    <li>
                        <label>类别:</label>
                        <input type="text" name="kind_name" value="{{ book.kind_name }}" list="kind_list"/>
                        <datalist id="kind_list">
                            {% for kind in kinds %}
                                 <option>{{ kind.kind_name }}</option>
                            {% endfor %}
                        </datalist>
                    </li>
                    <li>
                        <label> 详细描述:</label>
                        <input type="text" name="description" value="{{ book.description }}"/>
                    </li>
                    <li class="reg_sub">
                        <input type="submit" value="提交"/>
                    </li>
                </ul>
                </form>
            </div>
    </div>

</body>
</html>

