{% extends 'base.html' %}
{% load static %}
{% block title %}珞珈线上书店-首页{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}
    <style>
    div.show{display:block;}
    div.hide{display:none;}
    </style>

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:detail' %}">· 个人信息</a></li>
                <li><a href="{% url 'order:all' %}" class="active">· 全部订单</a></li>
            </ul>
        </div>

        <div class="right_content clearfix">
                {% csrf_token %}
                <h3 class="common_title2">全部订单</h3>

                <div class="r_wrap fr clearfix">
                    <ul class="detail_tab clearfix">
                        <li class="active" id="0">全部订单</li>
                        <li id="1">已取消</li>
                        <li id="2">待付款</li>
                        <li id="3">待发货</li>
                        <li id="4">已发货</li>
                        <li id="5">已完成</li>
                    </ul>
                </div>

                <div id='6' class="show">被替换的元素0</div>
                <div id='7' class="hide">被替换的元素1</div>
                <div id='8' class="hide">被替换的元素2</div>
                <div id='9' class="hide">被替换的元素3</div>
                <div id='10' class="hide">被替换的元素4</div>
                <div id='11' class="hide">被替换的元素5</div>


                {# OrderInfo #}
        </div>
    </div>
{% endblock body %}