{% extends 'base.html' %}
{% load static %}
{% block title %}珞珈线上书店-首页{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}
    <style>
    div.show{display:block;}
    div.hide{display:none;}
    </style>

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:detail' %}">· 个人信息</a></li>
                <li><a href="{% url 'order:all' %}" class="active">· 全部订单</a></li>
            </ul>
        </div>

        <div class="right_content clearfix">
                {% csrf_token %}
                <h3 class="common_title2">全部订单</h3>

                <div class="r_wrap fr clearfix">
                    <ul class="detail_tab clearfix">
                        <li class="active">全部订单</li>
                        <li>已取消</li>
                        <li>待付款</li>
                        <li>待发货</li>
                        <li>已发货</li>
                        <li>已完成</li>
                    </ul>
                </div>

                <div class="show">被替换的元素0</div>
                <div class="hide">被替换的元素1</div>
                <div class="hide">被替换的元素2</div>
                <div class="hide">被替换的元素3</div>
                <div class="hide">被替换的元素4</div>
                <div class="hide">被替换的元素5</div>
        </div>
    </div>

    <script>
    var timeId;
 $(document).ready(function(){
 $("li").each(function(index){
 //index是li数组的的索引值
 $(this).mouseover(function(){
 var liNode = $(this);
 var id = $(this).attr('id');
 //延迟是为了减少服务器压力，防止鼠标快速滑动
 timeId = setTimeout(function(){
  //将原来显示的div隐藏掉
  $("div.show").removeClass("show").addClass("hide");
  //将原来的li的active去掉
  $("li.active").removeClass("active");
  $("div.hide").eq(index-2).removeClass("hide").addClass("show");
  liNode.addClass("active");
 },300);
 }).mouseout(function(){
 clearTimeout(timeId);
 });
 });
 });
    </script>
{% endblock body %}