{% extends 'base.html' %}
{% load static %}
{% block topfiles %}
<script>
    $(function (){
        $('#submit_order').click(function(){
            $.post('/order/new/', {}, function(data){ })
        })
    })

    $(function() {
    update_cart_count() //书籍总数
    update_total_price() //书籍总价
    function update_cart_count() {
        //  更新列表上方商品总数
        $.get('/book/count/', function (data) {
            $('.total_count').children('em').text()
        })
    }

    // 计算所有被选中商品的总价，总数目和商品的小计
    function update_total_price() {
        total_count = 0
        total_price = 0
        // 获取所有被选中的商品所在的ul元素
        $('.cart_list_td').find(':checked').parents('ul').each(function () {
            // 计算商品的小计
            res_dict = update_book_price($(this))

            total_count += res_dict.book_count
            total_price += res_dict.book_amount
        })
        // 设置商品的总价和总数目
        $('.settlements').find('em').text(total_price.toFixed(2))
        $('.settlements').find('b').text(total_count)
    }

    function update_book_price(book_ul) {
        // 获取每一个商品的价格和数量
        book_price = book_ul.children('.col05').text()
        book_count = book_ul.find('.num_show').val()

        // 计算商品的小计
        book_price = parseFloat(book_price)
        book_count = parseInt(book_count)
        book_amount = book_price * book_count

        return {
            'book_count': book_count,
            'book_amount': book_amount
        }
    }

    $('.cart_list_td').children('.col08').children('a').click(function () {
        // 获取删除的商品的id
        book_ul = $(this).parents('ul')
        book_id = book_ul.find('.num_show').attr('book_id')
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
            "book_id": book_id,
            "csrfmiddlewaretoken": csrf
        }
        // 访问/cart/cancel/
        $.post('/cart/cancel/', params, function (data) {
            if (data.res == 1){
                // 删除成功
                // 移除商品对应的ul元素
                book_ul.remove()
                // 判断商品对应的checkbox是否选中
                is_checked = book_ul.find(':checkbox').prop('checked')
                if (is_checked){
                    update_total_price()
                }
                // 更新页面购物车商品总数
                update_cart_count()
                // 更新选择框状态
                $('.settlements').find(":checkbox").prop('checked', false)
            }
        })
    })



</script>
{% endblock topfiles %}
{% block body %}
    <div class="total_count">全部商品<em>{{ size }}</em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">封面名称</li>
        <li class="col02">作者</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">出版社</li>
        <li class="col06">操作</li>
    </ul>

    {% for cart in cart_list %}
    <ul class="cart_list_td clearfix">
        {# 提交表单时，如果checkbox没有被选中，它的值不会被提交 #}
        <li class="col01"><input type="checkbox" name="book_id" value="{{ cart.book_id }}" checked></li>
        <li class="col02"><a href="../../book/detail/{{ cart.book_id }}"><img src="{% static cart.book.book_picture %}" alt=""></a></li>
        <li class="col03">{{ cart.book.book_name }}<br><em>{{ cart.book.price }}元</em></li>
        <li class="col04">{{ cart.book.author }}</li>
        <li class="col05">{{ cart.price }}</li>
        <li class="col06">
            <div class="num_add">
                <a href="javascript:" class="add fl">+</a>
                <input type="text" book_id="{{ cart.book_id }}" class="num_show fl" value="{{ cart.number }}">
                <a href="javascript:" class="minus fl">-</a>
            </div>
        </li>
        <li class="col07">{{ cart.book.press }}</li>
        <li class="col08"><a href="javascript:" id="{{ cart.book_id }}">删除</a></li>
    </ul>
    {% endfor %}

    <ul class="settlements">
        <li class="col01"><input type="checkbox" name="" checked=""></li>
        <li class="col02">全选</li>
        <li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>{{size}}</b>件商品</li>
        <li class="col04"><a href="/order/new/" class="add_cart" id="submit_order">提交订单</a></li>
        {% csrf_token %}
    </ul>

{% endblock %}

