{% extends 'base.html' %}
{% load static %}
{% block topfiles %}
<script>

    $(function() {
    // update_cart_count() //书籍总数：页面加载时直接给出
    update_total_price_checked() //书籍总价
    function update_cart_count() {
        //  更新列表上方商品总种类数
        $.get('/book/count/', function (data) {
            $('.total_kinds_count').children('em').text(data.res)
        })
    }

    // 计算所有被选中商品的总价，总数目和商品的小计
    function update_total_price_checked() {
        update_select_count() // 改变上栏已选中书籍数量
        total_count = 0
        total_price = 0
        total_checked = true
        // 获取所有无论是否选中的商品所在的ul元素
        $('.cart_list_td').each(function () {
            // 计算商品的小计
            res_dict = update_book_price($(this))
            if(res_dict.book_checked) {// 只计算选中商品的价格、数量
                total_count += res_dict.book_count
                total_price += res_dict.book_amount
            }
            total_checked = total_checked && res_dict.book_checked
        })
        // 设置商品的总价和总数目
        $('.settlements').find('em').text(total_price.toFixed(2))
        $('.settlements').find('b').text(total_count)
        // 更新选择框状态
        $('.settlements').find(":checkbox").prop('checked', total_checked)
    }

    function update_book_price(book_ul) {
        book_checked = book_ul.find('input').prop("checked")
        // 获取每一个商品的价格和数量
        book_price = book_ul.children('.col05').text()
        book_count = book_ul.find('.num_show').val()

        // 计算商品的小计
        book_price = parseFloat(book_price)
        book_count = parseInt(book_count)
        book_amount = book_price * book_count

        return {
            'book_count': book_count,
            'book_amount': book_amount,
            'book_checked': book_checked
        }
    }

    $('.del_btn').click(function () {
        // 获取删除的商品的id
        book_ul = $(this).parents('ul')
        book_id = book_ul.find('.num_show').attr('book_id')
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
            "book_id": book_id,
            "csrfmiddlewaretoken": csrf
        }
        $.get('/book/cancel/', params, function (data) {
            if (data.res === 1){
                // 删除成功
                // 移除商品对应的ul元素
                book_ul.remove()
                // 更新总价和总选中
                update_total_price_checked()
                // 更新页面购物车商品总数
                update_cart_count()
            }
        })
    })

    $('.add').click(function () {
        // 获取增加的商品的id
        book_ul = $(this).parents('ul')
        book_id = book_ul.find('.num_show').attr('book_id')
        book_num = Number(book_ul.find('.num_show').attr('value'))+1
        if(!Number.isInteger(book_num)) {
            return
        }
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
            "book_id": book_id,
            'number': book_num,
            "csrfmiddlewaretoken": csrf
        }
        $.get('/book/set_number/', params, function (data) {
            if (data.res === 1){
                // 加一成功
                // 修改当前数量
                book_ul.find('.num_show').attr('value', book_num)
                // 判断商品对应的checkbox是否选中
                is_checked = book_ul.find(':checkbox').prop('checked')
                if (is_checked){
                    update_total_price_checked()
                }
            }
        })
    })


    $('.minus').click(function () {
        // 获取增加的商品的id
        book_ul = $(this).parents('ul')
        book_id = book_ul.find('.num_show').attr('book_id')
        book_num = Number(book_ul.find('.num_show').attr('value'))-1
        if(!Number.isInteger(book_num)) {
            return
        }
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
            "book_id": book_id,
            'number': book_num,
            "csrfmiddlewaretoken": csrf
        }
        $.get('/book/set_number/', params, function (data) {
            if (data.res === 1){
                // 减一成功
                if(book_num===0) {
                    // 减为0
                    // 移除商品对应的ul元素
                    book_ul.remove()
                    // 更新页面购物车商品总数
                    update_cart_count()
                }else{
                    // 修改当前数量
                    book_ul.find('.num_show').attr('value', book_num)
                }
                update_total_price_checked()
            }
        })
    })

    // 点击复选框效果
    $('.cart_list_td .col01 input').click(function () {
        // 反转选中状态
        book_ul = $(this).parents('ul')
        book_id = book_ul.find('.num_show').attr('book_id')
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        params = {
            "book_id": book_id,
            "csrfmiddlewaretoken": csrf
        }
        $.get('/book/select/', params, function (data) {
            if (data.res === 1){
                // 反转成功
                // 更新总价选择框状态
                update_total_price_checked()
            }
        })
    })

    // 点击全选复选框效果
    $('.settlements .col01 input').click(function () {
        // 点击全选
        total_checked = $(this).prop('checked')
        $('.cart_list_td').each(function () {
            // 计算商品的小计
            checked = $(this).find('.col01 input').prop("checked")
            if(checked !== total_checked){
                // 与当前（点击后）全选状态不同的都模拟点击一次
                $(this).find('.col01 input').click()
            }
        })
        $(this).prop('checked', !total_checked)

        update_total_price_checked()
    })
    })



</script>
{% endblock topfiles %}
{% block body %}
    <div class="total_kinds_count">全部商品<em>{{ total_kinds_count }}</em>种</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">封面名称</li>
        <li class="col02">作者</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">出版社</li>
        <li class="col06">操作</li>
    </ul>

    {% for cart in cart_list %}
    <ul class="cart_list_td clearfix">
        {# 提交表单时，如果checkbox没有被选中，它的值不会被提交 #}
        <li class="col01"><input type="checkbox" name="book_id" value="{{ cart.book_id }}" {% if cart.select %} checked {% endif %}></li>
        <li class="col02"><a href="../../book/detail/{{ cart.book_id }}"><img src="{% static cart.book.book_picture %}" alt=""></a></li>
        <li class="col03">{{ cart.book.book_name }}<br><em>{{ cart.book.price }}元</em></li>
        <li class="col04">{{ cart.book.author }}</li>
        <li class="col05">{{ cart.price }}</li>
        <li class="col06">
            <div class="num_add">
                <a href="javascript:" class="add fl">+</a>
                <input type="text" book_id="{{ cart.book_id }}" class="num_show fl" value="{{ cart.number }}">
                <a href="javascript:" class="minus fl">-</a>
            </div>
        </li>
        <li class="col07">{{ cart.book.press }}</li>
        <li class="col08"><a href="javascript:" class="del_btn" id="{{ cart.book_id }}">删除</a></li>
    </ul>
    {% endfor %}

    <ul class="settlements">
        <li class="col01"><input type="checkbox" name="" checked=""></li>
        <li class="col02">全选</li>
        <li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>[加载中]</b>件商品</li>
        <li class="col04"><a href="{% url 'order:new' %}" class="add_cart" id="submit_order">提交订单</a></li>
        {% csrf_token %}
    </ul>

{% endblock %}

