{% extends 'base.html' %}
{% load static %}
{% block title %}珞珈线上书店-首页{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}
    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="{% url 'user:detail' %}" class="active">· 个人信息</a></li>
                <li><a href="{% url 'order:all' %}">· 全部订单</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
                <div class="info_con clearfix">
                <h3 class="common_title2">基本信息</h3>
                        <ul class="user_info_list1">
                            <li><span>用户名：</span>{{ user_name }}</li>
                            <li><span>联系方式：</span>{{ phone_number }}</li>
                            <li><span>电子邮箱:</span>{{ email }}</li>
                            <li><span>注册日期：</span>{{ register_date }}</li>
                        </ul>
                </div>
        </div>
    </div>
{% endblock body %}
